* {
  text-align: center;
  font-family: sans-serif;
  color: white;
}

html {
  background-image: url('img/background.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.card {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  backdrop-filter: blur(20px);
  padding-bottom: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.8);
}

.card-image {
  border-radius: 8px;
  max-width: 95%;
}